div {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    display: inline-block;
    cursor: pointer;
}

#paint {
    width: 200px;
    height: 100px;
    margin-top: 20px;
    border: 2px solid gray;
}
